
<!-- <a rel="icon" type="image/x-icon" href="/assets/technifunds.png"></a> -->
<div class="app-header">
  <div>
    <img src="/assets/technifunds.png" alt="TechniFunds" width="100" height="100">
  </div>
  
  <div class="title" >
    <h1 class="title-name" >TechniFunds</h1>
    <span class="tag">By Group-9</span>
  </div>
</div>

<br>
<!-- <br> -->
<!-- <a>TechniFunds is a Deep Learning Enabled Stock Screener. All our stock suggestions are powered by Technical, Fundamental, and Sentimental insights.</a> -->
<!-- <br>
<br> -->
<div class="main-container">
  <div class="sub-header">
    <div>
      <p class="item-title">How much risk are you willing to take? </p>
      <mat-form-field appearance="fill">
        <mat-label>Risk Appetite</mat-label>
        <mat-select [(ngModel)]="risk">
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   <div>
    <p class="item-title">How long are you planning to invest? </p>
    <mat-form-field appearance="fill">
      <mat-label>Investment Duration</mat-label>
      <mat-select [(ngModel)]="invDuration">
        <mat-option value="short">1 Day</mat-option>
        <mat-option value="medium">1 Week</mat-option>
        <mat-option value="long">1 Month</mat-option>
      </mat-select>
    </mat-form-field>
   </div>
   
    <div class="search">
      <button mat-raised-button (click)="searchClick()">Search</button>
    </div>
    
  </div>
  <br>
 
<div *ngIf=flag>
  <table mat-table [dataSource]="dataSource">
    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: large; font-family: 'Times New Roman', Times, serif;">Company</th>
      <td mat-cell *matCellDef="let element" (click)="selectCompany(element)" style="color:blue;text-align: center;">{{element.company}}</td>
    </ng-container>
  
    <!-- Current Market Price Column -->
    <ng-container matColumnDef="currentMarketPrice">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: large; font-family: 'Times New Roman', Times, serif;">Current Market Price(INR)</th>
      <td mat-cell *matCellDef="let element" style=" text-align: center;">{{element.currentMarketPrice}}</td>
    </ng-container>
    
    <!-- Signal Column -->
    <ng-container matColumnDef="signal">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: large; font-family: 'Times New Roman', Times, serif;">Signal</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.signalColor}">{{element.signal}}</td>
    </ng-container>

    <!-- Fundamental Score Column -->
    <ng-container matColumnDef="fundamentalScore">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: large; font-family: 'Times New Roman', Times, serif;">Fundamental Score</th>
      <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color':element.fundamentalColor}">{{element.fundamentalScore}}</td>
    </ng-container>

    <!-- Sentiment Score Column -->
    <ng-container matColumnDef="sentimentScore" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: large; font-family: 'Times New Roman', Times, serif;">Sentiment Score</th>
      <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color':element.sentimentColor}">{{element.sentimentScore}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <a style="font-size: 0;">{{dataSource[0].sentimentColor}}</a>
  <!-- <div>
    <h3>
      Click Log
    </h3>
  </div>
  
  <div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
  </div>
  
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.company}}
    </li>
  </ul> -->
  <br>
  <br>
  <br>
  <a style="margin-bottom: 10px;">*The Stock Market is a field of Speculation and is subject to Market Risk. TechniFunds does not take any responsibility on your investment decisions.</a>
  <br>
  <br>
</div>
</div>

<div class={{dailogBox}}>
  
  <div *ngIf = selectFlag>
    <div class="fixed">
      <h1 class="m0" style="color:blue;margin-left: 230px;">{{selectedStock.company}}</h1>
      <h3 class="m0">NSE Ticker: {{selectedStock.nseTicker}}</h3>
      <h3 class="m0">Sector: {{selectedStock.sector}}</h3>
      <div *ngIf="dailogBox === 'open'">
        <span (click)="closeDailog()" class="closeMark">X</span>
      </div>
    </div>
    <br>
    <div class="modal-container">
      <div class="card">
        <h1 class="techAnly" style="color:blue;text-align: center;">Technical Analysis</h1>
        <br>
        <div class="modalData ">
          <div >
            <p>Current Market Price (INR): {{selectedStock.currentMarketPrice}}</p>
          <p>Predicted Price (INR): {{selectedStock.predictedPrice}}</p>
          <div style="float: left;padding-bottom: 1%;" *ngIf="selectedStock.predictedPrice>selectedStock.currentMarketPrice" class="arrow-up">
          </div>
          <br>
          <div style="float: left;padding-bottom: 1%;" *ngIf="selectedStock.predictedPrice<selectedStock.currentMarketPrice" class="arrow-down">
          </div> 
          <br>
          <p [ngStyle]="{'color':changePercentColor}">Change Percent: {{changePercent}}%</p>
          <p>Stop Loss (INR): {{selectedStock.stopLoss}}</p>
          <div class="circleText" [ngStyle]="{'background-color':selectedStock.signalColor}">{{selectedStock.signal}}</div>
          </div>
          <div class="techImg">
            <img src="{{supportResistanceChartPath}}" alt="supportResistanceChartPath" width="650" height="650">
          </div>
        </div>
      </div>
      
      <div class="card card-size">
        <h1 class="techAnly">Fundamental Analysis</h1>
      <div class="modalData">
        <div>
          <h2>Our Score Out of 10</h2>
          <div class="circleText circle" [ngStyle]="{'background-color':selectedStock.fundamentalColor}">{{selectedStock.fundamentalScore}}</div>
        </div>

          <div >
            <p>Piotroski Score: {{selectedStock.piotroskiScore}}</p>
            <p>Basic EPS: {{selectedStock.basicEPS}}</p>
            <p>Return on Equity: {{selectedStock.ROE}}</p>
            <p>Gross Profit Margin: {{selectedStock.grossProfitMargin}}</p>
            <p>Risk Class: {{selectedStock.riskClass}}</p>
          </div>
        </div>
      </div>
      <div class="card-size card">
        <h1 class="techAnly" style="color:blue;text-align: center;">Sentiment Analysis</h1>
        <br>
        <div class="modalData">
         <div>
          <h2>Our Score Out of 10</h2>
          <div class="circleText circle" [ngStyle]="{'background-color':selectedStock.sentimentColor}">{{selectedStock.sentimentScore}}</div>
         </div>
         <div style="margin-top: -52px;">
          <img src="{{sentimentChartPath}}" alt="sentimentChartPath" width="500" height="500">
         </div>
          
        </div>
       
      </div>
     
    </div>
    
    <!-- <nav>
      <a routerLink="/popup" routerLinkActive="active">{{selectedStock.company}}</a>
    </nav>
    <router-outlet></router-outlet> -->
    <!-- <app-popup></app-popup> -->
  </div>
</div>



